In [1]:
import pandas as pd

df = pd.read_csv(r'S:\MS AI NEU\Career\_Gro Intelligence\gro_homework\gro_homework\Daily Precipitation.csv')
# df.head()

In [2]:
pre_calc_offset = {1: 0, 2: 31, 3: 59, 4: 90, 5: 120, 6: 151, 7: 181, 8: 212, 9: 243, 10: 273, 11: 304, 12: 334}
def timestamp_to_day_num(x):
    base = x.split('T')[0]
    base2 = base.split('-')
    month, day = int(base2[1]), int(base2[2])
    day_num_of_year = pre_calc_offset[month] + day
    return day_num_of_year

df.drop('end_date', inplace=True, axis=1)
# del df["end_date"]
# df['start_date'] = df['start_date'].apply(lambda x: timestamp_to_day_num(x))

# df2 = df.where((df["start_date"]==2) & (df["region_id"]==93), inplace = True)  # inplace = True
# df2 = df[(df.start_date == 35) & (df.region_id == 93) ]
# df2

In [3]:
df_prod_quant = pd.read_csv(r'S:\MS AI NEU\Career\_Gro Intelligence\gro_homework\gro_homework\Production Quantity.csv')
df_precip = pd.read_csv(r'S:\MS AI NEU\Career\_Gro Intelligence\gro_homework\gro_homework\Daily Precipitation.csv')
df_soil = pd.read_csv(r'S:\MS AI NEU\Career\_Gro Intelligence\gro_homework\gro_homework\Daily Soil Mositure.csv')
df_temp = pd.read_csv(r'S:\MS AI NEU\Career\_Gro Intelligence\gro_homework\gro_homework\Daily Temperature.csv')
df_ndvi = pd.read_csv(r'S:\MS AI NEU\Career\_Gro Intelligence\gro_homework\gro_homework\Eight Day NDVI.csv')

In [4]:
def timestamp_to_yyyy(x):
    base = x.split('T')[0]
    base2 = base.split('-')
    year, month = int(base2[0]), int(base2[1])
#     day_num_of_year = pre_calc_offset[month] + day
    return year


def timestamp_to_mm(x):
    base = x.split('T')[0]
    base2 = base.split('-')
    year, month = int(base2[0]), int(base2[1])
#     day_num_of_year = pre_calc_offset[month] + day
    return month

In [5]:
df_prod_quant['Year'] = df_prod_quant['start_date'].apply(lambda x: timestamp_to_yyyy(x))
df_prod_quant['Month'] = df_prod_quant['start_date'].apply(lambda x: timestamp_to_mm(x))
df_prod_quant.drop('start_date', inplace=True, axis=1)
df_prod_quant.drop('end_date', inplace=True, axis=1)

df_precip['Year'] = df_precip['start_date'].apply(lambda x: timestamp_to_yyyy(x))
df_precip['Month'] = df_precip['start_date'].apply(lambda x: timestamp_to_mm(x))
df_precip.drop('start_date', inplace=True, axis=1)
df_precip.drop('end_date', inplace=True, axis=1)

df_soil['Year'] = df_soil['start_date'].apply(lambda x: timestamp_to_yyyy(x))
df_soil['Month'] = df_soil['start_date'].apply(lambda x: timestamp_to_mm(x))
df_soil.drop('start_date', inplace=True, axis=1)
df_soil.drop('end_date', inplace=True, axis=1)

df_temp['Year'] = df_temp['start_date'].apply(lambda x: timestamp_to_yyyy(x))
df_temp['Month'] = df_temp['start_date'].apply(lambda x: timestamp_to_mm(x))
df_temp.drop('start_date', inplace=True, axis=1)
df_temp.drop('end_date', inplace=True, axis=1)

df_ndvi['Year'] = df_ndvi['start_date'].apply(lambda x: timestamp_to_yyyy(x))
df_ndvi['Month'] = df_ndvi['start_date'].apply(lambda x: timestamp_to_mm(x))
df_ndvi.drop('start_date', inplace=True, axis=1)
df_ndvi.drop('end_date', inplace=True, axis=1)

In [6]:
df_prod_quant

       prod  region_id  Year  Month
0    171725         93  2015      1
1    188325         93  2015      2
2    247856         93  2015      3
3    282791         93  2015      4
4    291057         93  2015      5
..      ...        ...   ...    ...
715   57818        105  2020      8
716   57474        105  2020      9
717   51821        105  2020     10
718   44947        105  2020     11
719   35728        105  2020     12

[720 rows x 4 columns]

In [7]:
all_region_codes = sorted([x for x in set(df_ndvi['region_id'])])
# print(all_region_codes)

In [8]:
base_dict = dict()
base_dict['Year'] = [z for y in [[x]*12 for x in range(2015, 2021)] for z in y] * len(all_region_codes)
base_dict['Month'] = [x for x in range(1, 13)] * len(range(2015, 2021)) * len(all_region_codes)
base_dict['region_id'] = [z for y in [[x] * len(range(1, 13)) * len(range(2015, 2021)) for x in all_region_codes] for z in y]
# base_dict['region_idd'] = [0] * len(base_dict['region_id'])

unified_df = pd.DataFrame(base_dict)
unified_df

     Year  Month  region_id
0    2015      1         93
1    2015      2         93
2    2015      3         93
3    2015      4         93
4    2015      5         93
..    ...    ...        ...
715  2020      8        105
716  2020      9        105
717  2020     10        105
718  2020     11        105
719  2020     12        105

[720 rows x 3 columns]

In [9]:
p_min, p_av, p_max = [], [], []  # Precipitation.
t_min, t_av, t_max = [], [], []  # Temperature.
s_min, s_av, s_max = [], [], []  # Soil Moisture.
n_min, n_av, n_max = [], [], []  # NDIV.
prod_quantity = []

In [10]:
for the_region in all_region_codes:
    tr_df_precip = df_precip[(df_precip.region_id == the_region)]
    tr_df_tempra = df_temp[(df_temp.region_id == the_region)]
    tr_df_soil = df_soil[(df_soil.region_id == the_region)]
    tr_df_ndvi = df_ndvi[(df_ndvi.region_id == the_region)]
    tr_df_prod_quant = df_prod_quant[(df_prod_quant.region_id == the_region)]
    
    
    
    for the_year in range(2015, 2021):
        ty_df_precip = tr_df_precip[(tr_df_precip.Year == the_year)]
        ty_df_tempra = tr_df_tempra[(tr_df_tempra.Year == the_year)]
        ty_df_soil = tr_df_soil[(tr_df_soil.Year == the_year)]
        ty_df_ndvi = tr_df_ndvi[(tr_df_ndvi.Year == the_year)]
        ty_df_prod_quant = tr_df_prod_quant[(tr_df_prod_quant.Year == the_year)]
        
        for the_month in range(1, 13):
            # Precipitate
            tm_df_precip = ty_df_precip[(ty_df_precip.Month == the_month)]
            min_p, max_p, avg_p = min(tm_df_precip['precip']), max(tm_df_precip['precip']), tm_df_precip['precip'].mean()
            p_min.append(min_p), p_av.append(avg_p), p_max.append(max_p)
            # print(f"{the_region} :: {the_year}-{the_month} : {min_p}, {avg_p}, {max_p}")
            
            # Temperature
            tm_df_tempra = ty_df_tempra[(ty_df_tempra.Month == the_month)]
            min_t, max_t, avg_t = min(tm_df_tempra['temp']), max(tm_df_tempra['temp']), tm_df_tempra['temp'].mean()
            t_min.append(min_t), t_av.append(avg_t), t_max.append(max_t)
            
            # Soil
            tm_df_soil = ty_df_soil[(ty_df_soil.Month == the_month)]
            min_s, max_s, avg_s = min(tm_df_soil['smos']), max(tm_df_soil['smos']), tm_df_soil['smos'].mean()
            s_min.append(min_s), s_av.append(avg_s), s_max.append(max_s)
            
            # NDVI
            tm_df_ndvi = ty_df_ndvi[(ty_df_ndvi.Month == the_month)]
            try:
                min_n, max_n, avg_n = min(tm_df_ndvi['ndvi']), max(tm_df_ndvi['ndvi']), tm_df_ndvi['ndvi'].mean()
                n_min.append(min_n), n_av.append(avg_n), n_max.append(max_n)
            except:
                # print(f"{the_region} :: {the_year}-{the_month}")
                
                # Assuming, that change in last year will follow this year too.
                n_min.append(s_min[-1] + (s_min[-12] - s_min[-13]))
                n_av.append(s_av[-1] + (s_av[-12] - s_av[-13]))
                n_max.append(s_max[-1] + (s_max[-12] - s_max[-13]))
            
            # Production Quantity
            tm_df_prod_quant = ty_df_prod_quant[(ty_df_prod_quant.Month == the_month)]
            prod_quantity.append(sum(tm_df_prod_quant['prod']))  # had to sum so that it become int.

In [11]:
'''
p_min, p_av, p_max = [], [], []  # Precipitation.
t_min, t_av, t_max = [], [], []  # Temperature.
s_min, s_av, s_max = [], [], []  # Soil Moisture.
n_min, n_av, n_max = [], [], []  # NDIV.
prod_quantity = []
'''
unified_df['p_min'] = p_min
unified_df['p_av'] = p_av
unified_df['p_max'] = p_max
unified_df['t_min'] = t_min
unified_df['t_av'] = t_av
unified_df['t_max'] = t_max
unified_df['s_min'] = s_min
unified_df['s_av'] = s_av
unified_df['s_max'] = s_max
unified_df['n_min'] = n_min
unified_df['n_av'] = n_av
unified_df['n_max'] = n_max
unified_df['prod_quantity'] = prod_quantity

In [12]:
unified_df

,Year,Month,region_id,p_min,p_av,p_max,t_min,t_av,t_max,s_min,s_av,s_max,n_min,n_av,n_max,prod_quantity
0,2015,1,93,0.001112,4.394452,54.497266,21.700680,25.003593,27.547240,0.192748,0.318552,0.515493,0.734261,0.761228,0.789271,171725
1,2015,2,93,0.000517,1.206137,15.357199,21.461607,26.807568,30.535201,0.180339,0.291452,0.401876,0.744526,0.758957,0.768034,188325
2,2015,3,93,0.089132,3.454652,13.704099,22.091759,26.954109,30.910728,0.180339,0.251969,0.331012,0.715394,0.752754,0.783712,247856
3,2015,4,93,0.201866,10.466472,35.989889,24.085684,26.948865,29.560593,0.174857,0.248915,0.319016,0.773377,0.785057,0.796737,282791
4,2015,5,93,1.775833,9.007986,29.155820,20.800400,25.405121,29.758767,0.197073,0.280602,0.401614,0.793799,0.805262,0.810483,291057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,2020,8,105,0.037877,7.635350,26.458364,23.859464,27.424585,29.364843,0.132908,0.225784,0.393348,0.806964,0.813444,0.819740,57818
716,2020,9,105,0.402288,6.852630,16.659523,26.513286,27.940492,30.178225,0.091326,0.277477,0.467299,0.777005,0.810768,0.826499,57474
717,2020,10,105,1.741311,11.276676,47.817073,24.158585,27.048770,29.820700,0.086567,0.277670,0.619990,0.804021,0.815188,0.830234,51821
718,2020,11,105,0.320454,17.676531,77.648337,22.098855,24.715070,26.869159,0.090835,0.302014,0.606885,0.802460,0.803192,0.803924,44947
719,2020,12,105,0.015141,14.751862,127.976293,21.521947,23.856746,26.897307,0.136785,0.349358,0.690356,0.778310,0.790891,0.803472,35728

In [13]:
# unified_df.corr()

In [14]:
# # Creating Test data

p_min, p_av, p_max = [], [], []  # Precipitation.
t_min, t_av, t_max = [], [], []  # Temperature.
s_min, s_av, s_max = [], [], []  # Soil Moisture.
n_min, n_av, n_max = [], [], []  # NDIV.
# prod_quantity = []

base_dict = dict()
base_dict['Year'] = [z for y in [[x]*12 for x in [2021]] for z in y] * len(all_region_codes)
base_dict['Month'] = [x for x in range(1, 13)] * len([2021]) * len(all_region_codes)
base_dict['region_id'] = [z for y in [[x] * len(range(1, 13)) * len([2021]) for x in all_region_codes] for z in y]
# base_dict['region_idd'] = [0] * len(base_dict['region_id'])

test_df = pd.DataFrame(base_dict)

for the_region in all_region_codes:
    tr_df_precip = df_precip[(df_precip.region_id == the_region)]
    tr_df_tempra = df_temp[(df_temp.region_id == the_region)]
    tr_df_soil = df_soil[(df_soil.region_id == the_region)]
    tr_df_ndvi = df_ndvi[(df_ndvi.region_id == the_region)]
    
    for the_year in [2021]:
        ty_df_precip = tr_df_precip[(tr_df_precip.Year == the_year)]
        ty_df_tempra = tr_df_tempra[(tr_df_tempra.Year == the_year)]
        ty_df_soil = tr_df_soil[(tr_df_soil.Year == the_year)]
        ty_df_ndvi = tr_df_ndvi[(tr_df_ndvi.Year == the_year)]
        
        for the_month in range(1, 13):
            # Precipitate
            tm_df_precip = ty_df_precip[(ty_df_precip.Month == the_month)]
            min_p, max_p, avg_p = min(tm_df_precip['precip']), max(tm_df_precip['precip']), tm_df_precip['precip'].mean()
            p_min.append(min_p), p_av.append(avg_p), p_max.append(max_p)
            # print(f"{the_region} :: {the_year}-{the_month} : {min_p}, {avg_p}, {max_p}")
            
            # Temperature
            tm_df_tempra = ty_df_tempra[(ty_df_tempra.Month == the_month)]
            min_t, max_t, avg_t = min(tm_df_tempra['temp']), max(tm_df_tempra['temp']), tm_df_tempra['temp'].mean()
            t_min.append(min_t), t_av.append(avg_t), t_max.append(max_t)
            
            # Soil
            tm_df_soil = ty_df_soil[(ty_df_soil.Month == the_month)]
            min_s, max_s, avg_s = min(tm_df_soil['smos']), max(tm_df_soil['smos']), tm_df_soil['smos'].mean()
            s_min.append(min_s), s_av.append(avg_s), s_max.append(max_s)
            
            # NDVI
            tm_df_ndvi = ty_df_ndvi[(ty_df_ndvi.Month == the_month)]
            try:
                min_n, max_n, avg_n = min(tm_df_ndvi['ndvi']), max(tm_df_ndvi['ndvi']), tm_df_ndvi['ndvi'].mean()
                n_min.append(min_n), n_av.append(avg_n), n_max.append(max_n)
            except:
                # print(f"{the_region} :: {the_year}-{the_month}")
                
                # Assuming, that change in last year will follow this year too.
                n_min.append(s_min[-1] + (s_min[-12] - s_min[-13]))
                n_av.append(s_av[-1] + (s_av[-12] - s_av[-13]))
                n_max.append(s_max[-1] + (s_max[-12] - s_max[-13]))

                
test_df['p_min'] = p_min
test_df['p_av'] = p_av
test_df['p_max'] = p_max
test_df['t_min'] = t_min
test_df['t_av'] = t_av
test_df['t_max'] = t_max
test_df['s_min'] = s_min
test_df['s_av'] = s_av
test_df['s_max'] = s_max
test_df['n_min'] = n_min
test_df['n_av'] = n_av
test_df['n_max'] = n_max

In [15]:
start_date_fix_val = ['2021-01-01T00:00:00.000Z', '2021-02-01T00:00:00.000Z', '2021-03-01T00:00:00.000Z', '2021-04-01T00:00:00.000Z', '2021-05-01T00:00:00.000Z', '2021-06-01T00:00:00.000Z', '2021-07-01T00:00:00.000Z', '2021-08-01T00:00:00.000Z', '2021-09-01T00:00:00.000Z', '2021-10-01T00:00:00.000Z', '2021-11-01T00:00:00.000Z', '2021-12-01T00:00:00.000Z']
end_date_fix_val = ['2021-01-31T00:00:00.000Z', '2021-02-28T00:00:00.000Z', '2021-03-31T00:00:00.000Z', '2021-04-30T00:00:00.000Z', '2021-05-31T00:00:00.000Z', '2021-06-30T00:00:00.000Z', '2021-07-31T00:00:00.000Z', '2021-08-31T00:00:00.000Z', '2021-09-30T00:00:00.000Z', '2021-10-31T00:00:00.000Z', '2021-11-30T00:00:00.000Z', '2021-12-31T00:00:00.000Z']

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
import matplotlib.pyplot as plt


POLYNOMIAL_DEGREE = 3
settings=[('polynomial',PolynomialFeatures(degree=POLYNOMIAL_DEGREE)),('modal',LinearRegression())]


final_df_dict = {'start_date': [], 'end_date': [], 'prod': [], 'region_id': []}

for the_region in all_region_codes:
    temp_unified_df = unified_df[unified_df.region_id == the_region]
    X, Y = temp_unified_df.iloc[:, :-1], temp_unified_df.iloc[:, -1]
    
    X_Test = test_df[test_df.region_id == the_region]
    
    pipe=Pipeline(settings)
    pipe.fit(X, Y)  # .reshape(-1,1)
    
    predictions = pipe.predict(X_Test)
    # print(predictions)
    
    final_df_dict['region_id'] += [the_region] * len(predictions)
    final_df_dict['start_date'] += start_date_fix_val
    final_df_dict['end_date'] += end_date_fix_val
    final_df_dict['prod'] += list(predictions)
    

final_df = pd.DataFrame.from_dict(final_df_dict)


for index, row in final_df.iterrows():
    # row['prod'] = 0
    # final_df.at[index,'prod'] = 0
    if row['prod'] <= 0:
        temp_unified_df = unified_df[(unified_df.Month == int(row['start_date'].split('-')[1])) & ( unified_df.region_id == int(row['region_id']))]
        # print(int(row['start_date'].split('-')[1]), int(row['region_id']))
        # print(temp_unified_df)
        
        past_average = temp_unified_df['prod_quantity'].mean() # if sum(temp_unified_df['prod_quantity']) > 0 else 0
        final_df.at[index,'prod'] = past_average

final_df

,start_date,end_date,prod,region_id
0,2021-01-01T00:00:00.000Z,2021-01-31T00:00:00.000Z,214462.333333,93
1,2021-02-01T00:00:00.000Z,2021-02-28T00:00:00.000Z,211430.996277,93
2,2021-03-01T00:00:00.000Z,2021-03-31T00:00:00.000Z,164580.770571,93
3,2021-04-01T00:00:00.000Z,2021-04-30T00:00:00.000Z,392378.089239,93
4,2021-05-01T00:00:00.000Z,2021-05-31T00:00:00.000Z,338425.601427,93
...,...,...,...,...
115,2021-08-01T00:00:00.000Z,2021-08-31T00:00:00.000Z,104400.502039,105
116,2021-09-01T00:00:00.000Z,2021-09-30T00:00:00.000Z,57586.124380,105
117,2021-10-01T00:00:00.000Z,2021-10-31T00:00:00.000Z,55482.993238,105
118,2021-11-01T00:00:00.000Z,2021-11-30T00:00:00.000Z,54416.578259,105
119,2021-12-01T00:00:00.000Z,2021-12-31T00:00:00.000Z,106760.317308,105

In [17]:
final_df.to_csv(r'predicted_production_qty.csv', index=False)
final_df.to_csv(r'Er.Visheshank.Mishra@Gmail.Com.csv', index=False)

In [18]:
'''Please Ignore Below Code'''

# poly_pred=pipe.predict(X)
# # print([abs(x-y) for x,y in zip(poly_pred, Y)])

# # # sorting predicted values with respect to predictor
# # sorted_zip = sorted(zip(X,poly_pred))
# # x_poly, poly_pred = zip(*sorted_zip)

# # # plotting Actuals
# plt.figure(figsize=(10,6))
# plt.plot(range(len(Y)),Y, color='g')  #, s=15
# plt.show()

# # # plotting predictions
# plt.figure(figsize=(10,6))
# plt.plot(range(len(Y)),poly_pred, color='b')
# plt.show()


# # plt.plot(X,y_pred,color='r',label='Linear Regression')
# # plt.plot(x_poly,poly_pred,color='g',label='Polynomial Regression')
# # plt.xlabel('Predictor',fontsize=16)
# # plt.ylabel('Target',fontsize=16)
# # plt.legend()
# # plt.show()

'Please Ignore Below Code'

In [19]:
# POLYNOMIAL_DEGREE = 3

# region_flter = (unified_df.region_id == 99)

# temp_unified_df = unified_df[region_flter & unified_df.Year != 2018]
# X, Y = temp_unified_df.iloc[:, :-1], temp_unified_df.iloc[:, -1]

# settings=[('polynomial',PolynomialFeatures(degree=POLYNOMIAL_DEGREE)),('modal',LinearRegression())]
# pipe=Pipeline(settings)
# pipe.fit(X, Y)


# temp_unified_df = unified_df[region_flter & (unified_df.Year == 2018)]
# X_test, Y = temp_unified_df.iloc[:, :-1], temp_unified_df.iloc[:, -1]

# poly_pred=pipe.predict(X_test)

# # # plotting Actuals
# plt.figure(figsize=(10,6))
# plt.plot(range(len(Y)),Y, color='g')  #, s=15
# plt.show()

# # # plotting predictions
# plt.figure(figsize=(10,6))
# plt.plot(range(len(Y)),poly_pred, color='b')
# plt.show()